* {
  padding: 0;
  margin: 0;

  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  background-color: papayawhip;
}

/* Header Sections */

header {
  position: sticky;
  top: 0;
  left: 0;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 100;
  background-color: skyblue;
  width: 100%;
  text-align: center;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  color: white;
}
#logo-img {
  width: 30px;
  height: 30px;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  display: flex;
}
.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

/*  nav  */
nav {
  display: flex;
  align-items: center;

}
.nav-list {
  display: flex;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list li a {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-list li a:hover {
  color: #ffc107; 
}


/* Content Sections */
hr{
  width: 300px ;
  border-top: 3px solid black;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

main {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.hero{
  height: 500px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
 text-align: center;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 35px;
 padding: 25px;
}

.contain{
  padding: 50px;
  margin-top: 20px;
}

.kiri{
  width: 500px;
  float: left;
  background-color: papayawhip;
  box-sizing: border-box;
  text-align: justify;
}

.kanan{
  width: 500px;
  float: right;
  background-color: papayawhip;
  box-sizing: border-box;
  text-align: justify;
}
h3{
  text-align: center;
  padding: 20px;
}

#img{
  width: 450px;
  height: 250px;
  padding-left: 35px;
  padding-bottom: 30px;
}

#content {
  min-width: 80vw;
  max-width: 80vw;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

article {
  margin: 1rem 4rem;
  padding-bottom: 30px;
  text-align: justify;
}
article p{
  padding-bottom: 20px;
  font-size: 20px;
}
article h2{
  text-align: center;
}

/* Aside */
aside {
  min-width: 18vw;
  max-width: 18vw;
  margin: 1rem 0;
  gap: 1rem;
  font-size: 20px;
  padding: 25px;
}

/* Footer Sections */
.footer{
  background-color: skyblue;
  padding: 18px;
  min-height: 10vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.copy {
  color: white;
  text-align: center;
  font-size: 25px;
}
.footer a{
  color: aliceblue;
  text-decoration: none;
}